 h1{
            background-color: black;
            text-align: center;
            color: whitesmoke;
        }

        p{
            background-color: black;
            color: aliceblue;
            text-align: left;
            font-size: larger;
        }

        .hello-finland{
            background-color: blue;
        }

        .hello-sri{
            background-color: cornflowerblue;
        }

        .pragh{
            background-color: black;
            color: cornflowerblue;
        }
        
        #pgback{
            background-color: blue;
            color: firebrick;
        }